<div id="buttons-top-middle" class="">
            {{ include('./subviews/content//Buttons/play-button.twig') }}
            {{ include('./subviews/content//Buttons/pause-button.twig') }}
            {{ include('./subviews/content//Buttons/proceed-button.twig') }}
            {{ include('./subviews/content//Buttons/media-play-button.twig') }}
            {{ include('./subviews/content//Buttons/next-button.twig') }}
            {{ include('./subviews/content//Buttons/feedback-button.twig') }}
            {{ include('./subviews/content//Buttons/feedback-button-correct.twig') }}
            {{ include('./subviews/content//Buttons/feedback-button-false.twig') }}
            {{ include('./subviews/content//Buttons/ish-eval.twig') }}
        </div>